<div modal="showModal" close="cancel()">
  <div class="modal-header">
      <h4>Add Group Member</h4>
  </div>
  <div class="modal-body">
      <table>
   					<tr>
   						<td>First Name<font color="red" size="2">*</font></td>
   						<td>:</td>
   						<td nowrap="nowrap">
   							<input type="text"  maxlength="25" ng-model="line.firstName"/>
   							<input type="button" class="popupWin"  onclick="popUpOpener('popups/memberlist.html')"/>
   						</td>
   						
   					</tr>
   					<tr>
   						<td>Last Name<font color="red" size="2">*</font></td>
   						<td>:</td>
   						<td nowrap="nowrap">
   							<input type="text"  maxlength="25" ng-model="line.lastName"/>
   						</td>
   					</tr>
   					<tr>
   						<td>E-Mail</td>
   						<td>:</td>
   						<td nowrap="nowrap">
   							<input type="email"  maxlength="25" ng-model="line.email"/>
   						</td>
   					</tr>
   					<tr>
   						<td>Due</td>
   						<td>:</td>
   						<td nowrap="nowrap">
   							<input type="text"  id="due"/>
   						</td>
   					</tr>
   					<tr>
   						<td>Website</td>
   						<td>:</td>
   						<td nowrap="nowrap">
   							<input type="text" maxlength="25" ng-model="line.website"/>
   						</td>
   					</tr>
   				</table>
  </div>
  <div class="modal-footer">
    <!-- <button class="popDivButton" ng-click="ok()">Save</button>
    <button class="popDivButton" ng-click="cancel()">Cancel</button> -->
    <div class="btn-group">
       	<button id="button-saveMember" title="Save Member"  ng-click="ok()" type="button" class="btn btn-success" data-toggle="tooltip">
       		<span class="glyphicon glyphicon-ok"></span>&nbsp; Save
       	</button>
       </div>
       
       <div class="btn-group">
       	<button id="button-cancelMember" title="Delete" ng-click="cancel()" type="button" class="btn btn-danger" data-toggle="tooltip">
       		<span class="glyphicon glyphicon-remove"></span>&nbsp; Cancel
       	</button>
       </div>
  	</div>
</div>

	
   				
