
<div class="col-xs-2">
	<table class="table table-bordered table-condensed" style="width: auto;">
	<caption class="text-left">Active Groups</caption>
		<thead>
			<tr>
				<th>Group</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="group in groups"
				ng-class="{'selected':$index == selectedRow}"
				ng-click="showMembers(group,$index);">
				<td>{{group.groupName}}</td>
			</tr>
		</tbody>
	</table>
</div>

	
<div class="col-xs-4">
	<table class="table table-bordered table-condensed" style="width: auto;">
	<caption class="text-left">Members List</caption>
		<thead>
			<tr>
				<th>Member Name</th>
				<th>Effort Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="member in members" >
				<td>{{member.name}}</td>
				<td style="background-color: #51a351;"></td>
			</tr>
		</tbody>
	</table>
</div>