/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	line-height: 0.5cm;
	font-style: normal;
	color: #333333;
	margin-top: 10px;
	height: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #131313;
}

h4 {
    font-size: 15px !important;
    font-weight: bold !important;
    color: #245269 !important;
}

hr {
	margin-top: 5px;
	margin-bottom: 16px;
	border: 0;
	border-top: 1px solid #b6d2ee;;
}

a,input {
	outline: none !important;
}

.navbar-fixed-top {
	border: 0;
}

@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		/* padding: 20px; */
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #f4f4f4;  
		color: #fff !important;
		border-rigfht: 1px solid #eee;
		font-size: 11px !important;
		padding: 0px;
	}
	
	.main {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		/* padding: 20px; */
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		/* border-right: 1px solid #eee; */
		/* background-color: #f4f4f4; */
		border: 5px solid #eee;
		padding: 5px;
	}
}


/* @media ( min-width : 768px) {
	.main, .sidebar {
		padding-right: 20px;
		padding-left: 20px;
	}
} */

.modal-dialog {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	z-index: 9999;
	border-radius: 18px;
}

.favoritesDiv {
	min-height: 530px;
}

#popUpDiv {
	display: none;
	padding: 0.5em;
}

#button {
	border-right: 1px;
	padding: 0 0 0 0;
}

#button ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
	
#button li {
	margin: 0;
	list-style: none;
	list-style-image: none;
	font-size: 11px;
	border-top: 1px solid #fff;
    border-bottom: 1px solid #dbdbdb;
}
	
#button li a {
	display: block;
	padding: 4px 4px 4px 1.5em;
	border-left: 5px solid #039BE6;
	text-decoration: none;
	width: 100%;
}

.selected {
	background-color: #cfe5fa;
	border-right: 5px solid #039BE6;
}
