* {
   font-size: 11px;
}     

body {
    padding-top: 50px;
    /* overflow: hidden; */
	font-family: arial;
	line-height: 0.5cm;
	font-style: normal;
	color: #333333;
}

#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}

#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    border-right: 1px solid gray;
}
#sidebar {
    position: relative;
    height: 100%;
    overflow-x:hidden;
}
#sidebar .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.pageHeader {
	padding: 10px 0 0px 0;
    position: relative;
    background-color: #fbfbfb;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.pageHeader > h4 {
	padding-left: 10px;
}

@media (max-width: 992px) {
    body {
        padding-top: 0px;
    }
}
@media (min-width: 992px) {
    #main-wrapper {
        float:right;
    }
}
@media (max-width: 992px) {
    #main-wrapper {
        padding-top: 0px;
    }
}
@media (max-width: 992px) {
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
  		border-right:0;
	}
}

a, input {
	outline: none;
}

#responseContent {
	padding: 0px 8px 0px 8px;
}

#popUpDiv {
	display: none;
	padding: 0.5em;
}

.divider-vertical {
	height: 40px;
	margin: 0 9px;
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #ffffff;
}

/* .modal-dialog {
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  	z-index:9999;
  	border-radius: 4px;
} */

.favoritesDiv {
	min-height: 530px;
}

.maintenance-add-evt-space{
	padding-top:20px;
}



