/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	line-height: 0.5cm;
	font-style: normal;
	color: #333333;
	margin-top: 10px;
	height: 100%;
	font-size: 11px;
}

h4 {
    font-size: 16px !important;
    font-weight: bold !important;
    color: #666 !important;
}

a,input {
	outline: none !important;
}

/*
 * Top navigation Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border: 0;
}


@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		/* padding: 20px; */
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		background-color: #1483BD;
		color: #fff !important;
		border-rigfht: 1px solid #eee;
		font-size: 11px !important;
	}
	
	.main {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		/* padding: 20px; */
		overflow-x: hidden;
		overflow-y: auto;
		/* Scrollable contents if viewport is shorter than content. */
		/* background-color: #f5f5f5;
		border-right: 1px solid #eee; */
	}
}

/*
 * Main content
 */
.main, .sidebar {
	padding: 5px;
}

/* @media ( min-width : 768px) {
	.main, .sidebar {
		padding-right: 20px;
		padding-left: 20px;
	}
} */

.modal-dialog {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	z-index: 9999;
	border-radius: 18px;
}

.favoritesDiv {
	min-height: 530px;
}

#popUpDiv {
	display: none;
	padding: 0.5em;
}

#button {
	border-right: 1px;
	padding: 0 0 1em 0;
	margin-bottom: 1em;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, sans-serif;
	background-color: #90bade;
	color: #333;
	font-size: 14px;
}

#button ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}
	
#button li {
	/* border-bottom: 1px solid #90bade; */
	margin: 0;
	list-style: none;
	list-style-image: none;
}
	
#button li a {
	display: block;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #1958b7;
	border-right: 10px solid #508fc4;
	background-color: #2175bc;
	color: white;
	text-decoration: none;
	width: 100%;
}

#button li a:hover {
	border-left: 10px solid #1c64d1;
	border-right: 10px solid #5ba3e0;
	background-color: #2586d7;
	color: white;
}
