/* tables */
table.tablesorter {
	font-family: arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 11px;
	width: 100%;
	text-align: left;
}

table.tablesorter thead tr th {
	/* background-color: #d7e5f5; */
	background-image: url(../images/tableHeader.gif);
	font-size: 11px;
	padding: 2px;
	text-align: center;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 2px;
	background-color: #FFF;
	vertical-align: top;
}

table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
