
		<section class="content-header">
			<h4>
				Change Password
			</h4>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Administration</a></li>
				<li class="active">Change Password</li>
			</ol>
		</section>
		
		<div class="col-md-12">&nbsp;</div>

		
		<div class="container-fluid content-body">
			<div class="row">					
				<div class="col-md-2">Old Password</div>
				<div class="col-md-3">
					<input type="password" 
							ng-model="change.oldPassword" 
							my-maxlength="50" 
							class="poc-textfield clearField"
							style="width:200px;">
				</div>
				<div class="col-md-9"></div>
			</div>
			</br>
			<div class="row">					
				<div class="col-md-2">New Password</div>
				<div class="col-md-3">
					<input type="password" 
							ng-model="change.newPassword" 
							my-maxlength="50" class="poc-textfield clearField"
							style="width:200px;">
				</div>
				<div class="col-md-9"></div>
			</div>
			</br>
			<div class="row">					
				<div class="col-md-2">Confirm New Password</div>
				<div class="col-md-3">
					<input type="password" 
							ng-model="change.confirmNewPassword" 
							my-maxlength="50" 
							class="poc-textfield clearField"
							style="width:200px;">
				</div>
				<div class="col-md-9"></div>
			</div>
			</br>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-3">
					<button type="button" class="cupid-blue">Change</button>
					<button type="button" class="blue-pill" onclick="$('.clearField').val('');">Cancel & Clear</button>
				</div>
			</div>
		
		</div>
