<form class="form-horizontal" ng-cloak>
		  <div class="row">
		  	<div class="col-lg-8">
	  		  <div class="form-group form-group-sm">
			    <label for="fname" class="col-sm-6 control-label">Old Password</label>
			    <div class="col-sm-6">
			      <input type="password" 
							ng-model="change.oldPassword" 
							my-maxlength="50" 
							class="form-control clearField">
			    </div>
			  </div>
			  <div class="form-group form-group-sm">
			    <label for="fname" class="col-sm-6 control-label">New Password</label>
			    <div class="col-sm-6">
			      <input type="password" 
							ng-model="change.newPassword" 
							my-maxlength="50" 
							class="form-control clearField">
			    </div>
			  </div>
			  <div class="form-group form-group-sm">
			    <label for="fname" class="col-sm-6 control-label">Confirm New Password</label>
			    <div class="col-sm-6">
			      <input type="password" 
							ng-model="change.confirmNewPassword" 
							my-maxlength="50" 
							class="form-control clearField">
			    </div>
			  </div>
			  <div class="form-group form-group-sm">
			    <div class="col-sm-6" ></div>
			    <div class="col-sm-6">
					<button type="button" class="btn btn-success">Change</button>
					<button type="button" class="btn btn-danger" onclick="$('.clearField').val('');">Clear</button>
			    </div>
			  </div>
			 
		  	</div>
		  	</div>
		  	</form>
