<div id="pageheader" ng-cloak>
	<h4>User Group</h4>
</div>
<hr>

<ul class="nav nav-tabs" id="myTabs">
	<li class="active"><a data-target="#list" data-toggle="tab">List</a></li>
	<li><a data-target="#details" data-toggle="tab">Details</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="list">
		<div class="col-lg-12" style="height: 340px;">

			<div class=" text-center" style="height: 50px;">
				<pagination ng-model="currentPage" class="pull-center"
					total-items="totalUserGroupsList.length" num-pages="noOfPages"
					max-size="maxSize" boundary-links="true"
					items-per-page="itemsPerPage"> </pagination>
			</div>
			<br>
			<table st-table="rowCollection" border="1"
				class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>Group Code</th>
						<th>Group Name</th>
						<th>Group Size</th>
						<th>R.M</th>
						<th>Project</th>
						<th style="width: 10%;"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<p ng-show="!totalUserGroupsList.length"
							style="color: red; margin-left: 10px;">No User Groups found.</p>
					</tr>
					<tr ng-repeat="group in userGroupList">
						<td>{{group.groupCode}}</td>
						<td>{{group.groupName}}</td>
						<td>{{group.groupSize}}</td>
						<td>{{group.reportingManager}}</td>
						<td>{{group.project}}</td>
						<td><a href="#" style="display: none"
							ng-click="editUser(group);" showonhoverparent> <span
								class="glyphicon glyphicon-edit"></span>
						</a> <a href="#" style="display: none" ng-click="deleteGroup(group);"
							showonhoverparent> <span class="glyphicon glyphicon-trash"></span>
						</a></td>

					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="tab-pane" id="details">
		<form class="form-horizontal">
			<div class="container-fluid">
				<div class="row">
					<div class="vsplit col-sm-6">
						<div class="form-group">
							<label for="fname" dir="ltr" class=" col-xs-12 col-md-3 col-lg-4 control-label">Group
								Code</label>
							<div class="col-xs-10 col-sm-9 col-md-6 col-lg-5 form-field input_controls">
								<input type="text" ng-model="group.groupCode" my-maxlength="50"
									class="form-control clearField ">
							</div>
						</div>
						<div class="form-group">
							<label for="fname" dir="ltr" class="col-xs-12 col-md-3 col-lg-4 control-label">Group
								Name</label>
							<div class="col-xs-10 col-sm-9 col-md-6 col-lg-5 form-field input_controls">
								<input type="text" ng-model="group.groupName" my-maxlength="50"
									class="form-control clearField ">
							</div>
						</div>
						<div class="form-group">
							<label for="fname" dir="ltr" class="col-xs-12 col-md-3 col-lg-4 control-label">Group
								Size</label>
							<div class="col-xs-10 col-sm-9 col-md-6 col-lg-5 form-field input_controls">
								<input type="text" ng-model="group.groupSize" my-maxlength="50"
									class="form-control clearField ">
							</div>
						</div>

						<div class="form-group">
							<div class="col-xs-10 col-sm-9 col-md-6 col-lg-5 form-field input_controls"></div>
							<div class="col-xs-10 col-sm-9 col-md-6 col-lg-5 form-field input_controls">
								<button type="button" class="btn btn-default btn-sm"
									ng-click="saveGroup(group);">Save</button>
								<button type="button" class="btn btn-default btn-sm"
									onclick="$('.clearField').val('');">Clear</button>
							</div>
						</div>
					</div>
					<div class="vsplit col-sm-6">
						<div class="form-group">
							<label for="fname" dir="ltr" class="col-xs-12 col-md-3 col-lg-4 control-label">R.M </label>
							<div class="col-xs-10 col-sm-9 col-md-6 col-lg-5 form-field input_controls">
								<input type="text" ng-model="group.reportingManager"
									my-maxlength="50" class="form-control clearField ">
							</div>
						</div>
						<div class="form-group">
							<label for="fname" dir="ltr" class="col-xs-12 col-md-3 col-lg-4 control-label">Group
								Lead</label>
							<div class="col-xs-10 col-sm-9 col-md-6 col-lg-5 form-field input_controls">
								<input type="text" ng-model="group.groupLead" my-maxlength="50"
									class="form-control clearField ">
							</div>
						</div>
						<div class="form-group">
							<label for="fname" dir="ltr" class="col-xs-12 col-md-3 col-lg-4 control-label">Project</label>
							<div class="col-xs-10 col-sm-9 col-md-6 col-lg-5 form-field input_controls">
								<input type="text" ng-model="group.project" my-maxlength="50"
									class="form-control clearField ">
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

