	
<form class="form-horizontal" ng-cloak>
		  <div class="row">
		  	<div class="col-lg-5">
	  		  <div class="form-group form-group-sm">
			    <label for="fname" class="col-sm-6 control-label">Group Code</label>
			    <div class="col-sm-6">
			      <input type="text"  ng-model="group.groupCode" my-maxlength="50" class="form-control clearField">
			    </div>
			  </div>
			  <div class="form-group form-group-sm">
			    <label for="fname" class="col-sm-6 control-label">Group Name</label>
			    <div class="col-sm-6">
			      <input type="text"  ng-model="group.groupName" my-maxlength="50" class="form-control clearField">
			    </div>
			  </div>
			  <div class="form-group form-group-sm">
			    <label for="fname" class="col-sm-6 control-label">Reporting Manager</label>
			    <div class="col-sm-6">
			      <input type="text"  ng-model="group.reportingManager" my-maxlength="50" class="form-control clearField">
			    </div>
			  </div>
			  <div class="form-group form-group-sm">
			    <label for="fname" class="col-sm-6 control-label">Group Lead</label>
			    <div class="col-sm-6">
			      <input type="text"  ng-model="group.groupLead" my-maxlength="50" class="form-control clearField">
			    </div>
			  </div>
			  <div class="form-group form-group-sm">
			    <label for="fname" class="col-sm-6 control-label">Project</label>
			    <div class="col-sm-6">
			      <input type="text"  ng-model="group.project" my-maxlength="50" class="form-control clearField">
			    </div>
			  </div>
			  <div class="form-group form-group-sm">
			    <label for="fname" class="col-sm-6 control-label">Group Size</label>
			    <div class="col-sm-6">
			      <input type="text"  ng-model="group.groupSize" my-maxlength="50" class="form-control clearField">
			    </div>
			  </div>
			  <!-- <div class="form-group form-group-sm">
			    <label for="fname" class="col-sm-6 control-label">Created On</label>
			    <div class="col-sm-6">
			      <input type="date" class="clearField"  datepicker-popup ng-model="group.dt" 
							is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" 
							datepicker-options="dateOptions" date-disabled="disabled(date, mode)" 
							close-text="Close" />
		              
		                <button type="button" class="btn btn-primary" ng-click="open($event)"><i 
		                	class="glyphicon glyphicon-calendar"></i></button>
			    </div>
			  </div> -->
			  <div class="form-group form-group-sm">
			    <div class="col-sm-6" ></div>
			    <div class="col-sm-6">
					<button type="button" class="btn btn-success" ng-click="saveGroup(group);">Save</button>
					<button type="button" class="btn btn-danger" onclick="$('.clearField').val('');">Clear</button>
			    </div>
			  </div>
	  	</div>
	  	<div class="col-lg-7">
	  	
			<div class="panel panel-info">
			  <!-- Default panel contents -->
			  <div class="panel-heading"><b>Groups List</b>
			  	<h4 class="pull-right">Total Users: {{totalUserGroupsList.length}}</h4>
			  </div>
			  <div class="panel-body" style="height:300px;">
					<!-- Table -->
			  <table st-table="rowCollection" class="table table-bordered table-striped table-condensed table-hover">
		  			<thead style="background-color: #33bcf2; color: white;">
		  				<tr>
		  					<th>Group Code</th>
		  					<th>Group Name</th>
		  					<th>Group Size</th>
		  					<th>R.M</th>
		  					<th>Project</th>
							<th style="width:10%;"></th>
		  				</tr>
		  			</thead>
		  			<tbody>
			  			 <tr>
			  			 	<li ng-show="!totalUserGroupsList.length" style="color: red;margin-left:10px;">No User Groups found.</li>
			  			 </tr>
			  			<tr ng-repeat="group in userGroupList">
			  				<td>{{group.groupCode}}</td>
			  				<td>{{group.groupName}}</td>
			  				<td>{{group.groupSize}}</td>
			  				<td>{{group.reportingManager}}</td>
			  				<td>{{group.project}}</td>
			  				<td>
			  					<a href="#" style="display:none" ng-click="editUser(group);" showonhoverparent>
						          <span class="glyphicon glyphicon-edit"></span>
						        </a>
						        <a href="#" style="display:none" ng-click="deleteGroup(group);" showonhoverparent>
						          <span class="glyphicon glyphicon-trash"></span>
						        </a>
						    </td>
						  
			  			</tr>
			  		</tbody>	
		  		</table>
			  </div>
		  	  <div class="panel-footer text-center" style="height:50px;">
			  		<pagination  ng-model="currentPage" class="pull-center"
			  					 total-items="totalUserGroupsList.length"
			  					 num-pages="noOfPages"
			  					 max-size="maxSize" 
			  					 boundary-links="true" 
			  					 items-per-page="itemsPerPage"> </pagination>
		  	  </div>		
			</div>
	  		
	  	</div>
  	</div>
 </form>

		