<div class="pageHeader">
	<p>User Group</p>
</div>


<form class="form-horizontal" style="height: 340px; margin-top:15px;">

	<div class=" text-center" style="height: 50px;">
		<pagination ng-model="currentPage" class="pull-center"
			total-items="totalUserGroupsList.length" num-pages="noOfPages"
			max-size="maxSize" boundary-links="true"
			items-per-page="itemsPerPage"> </pagination>
	</div>
	<br>
	<table st-table="rowCollection" class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th>Group Code</th>
				<th>Group Name</th>
				<th>Group Size</th>
				<th>R.M</th>
				<th>Project</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="group in userGroupList">
				<td>{{group.groupCode}}</td>
				<td>{{group.groupName}}</td>
				<td>{{group.groupSize}}</td>
				<td>{{group.reportingManager}}</td>
				<td>{{group.project}}</td>
				<td><a href="#" style="display: none"
					ng-click="editUser(group);" showonhoverparent> <span
						class="glyphicon glyphicon-edit"></span>
				</a> <a href="#" style="display: none" ng-click="deleteGroup(group);"
					showonhoverparent> <span class="glyphicon glyphicon-trash"></span>
				</a></td>

			</tr>
		</tbody>
	</table>
</form>

