


<!-- <div class="col-xs-3">
	<div class='input-group date' id='datetimepicker1'>
		<input type='text' class="form-control" ng-model="selecteddate" id="selecteddate" placeholder='select date'/> <span
			class="input-group-addon"> <span
			class="glyphicon glyphicon-calendar"></span>
		</span>
	</div>
</div>

<br/>

<button class="btn btn-primary" ng-click="alertDate()">show date</button> -->



<script>
	/* $('#datetimepicker1').datetimepicker(); */
</script>







