<div class="panel-heading">
	<div id="justified-button-bar">
       <div class="btn-group">
        	<button id="button-dash" title="Save" onclick="save()" type="button" class="btn btn-default" data-toggle="tooltip">
     			<span class="glyphicon glyphicon-ok"></span>
     		</button>
    	</div>
     
     <div class="btn-group">
     	<button id="button-delete" title="Delete" onclick="delete()" type="button" class="btn btn-default" data-toggle="tooltip">
     		<span class="glyphicon glyphicon-remove"></span>
     	</button>
     </div>
     
     <div class="btn-group">
     	<button id="button-clear" title="Delete" onclick="$('.clearField').val('');" type="button" class="btn btn-default" data-toggle="tooltip">
     		<span class="glyphicon glyphicon-copyright-mark"></span>
     	</button>
     </div>
    
     <span class="divider-vertical"></span>
     
     <div class="btn-group">
     	<button id="button-first" title="Go First" onclick="goFirst()" type="button" class="btn btn-default" data-toggle="tooltip">
     		<span class="glyphicon glyphicon-step-backward"></span>
     	</button>
     </div>
     
     <div class="btn-group">
     	<button id="button-previous" title="Go First" onclick="goPrevious()" type="button" class="btn btn-default" data-toggle="tooltip">
     		<span class="glyphicon glyphicon-arrow-left"></span>
     	</button>
     </div>
     
     <div class="btn-group">
     	<button id="button-next" title="Go First" onclick="goNext()" type="button" class="btn btn-default" data-toggle="tooltip">
     		<span class="glyphicon glyphicon-arrow-right"></span>
     	</button>
     </div>
     
      <div class="btn-group">
     	<button id="button-last" title="Go First" onclick="goLast()" type="button" class="btn btn-default" data-toggle="tooltip">
     		<span class="glyphicon glyphicon-step-forward"></span>
     	</button>
     </div>
     
     <span class="divider-vertical"></span>
     
     <div class="btn-group">
     	<button id="button-refresh" title="Find" onclick="reload()" type="button" class="btn btn-default" data-toggle="tooltip">
     		<span class="glyphicon glyphicon-refresh"></span>
     	</button>
     </div>
     
     <div class="btn-group">
     	<button id="button-attach" title="Find" onclick="attach()" type="button" class="btn btn-default" data-toggle="tooltip">
     		<span class="glyphicon glyphicon-paperclip"></span>
     	</button>
     </div>
     
     <div class="btn-group">
     	<button id="button-search" title="Find" onclick="findRecord()" type="button" class="btn btn-default" data-toggle="tooltip">
     		<span class="glyphicon glyphicon-search"></span>
     	</button>
     </div>
     
     <div  class="btn-group">
     	<button id="button-fav" title="Favourites" onclick="showFavourites()" type="button" class="btn btn-default" data-toggle="tooltip">
     		<span class="glyphicon glyphicon-star"></span>
     	</button>
     </div>
     
     <div  class="btn-group">
     	<button id="button-download" title="Download your data" onclick="loadDownloads()" type="button" class="btn btn-default" data-toggle="tooltip">
       		<span class="glyphicon glyphicon-download-alt"></span>
       	</button>
       </div>
   </div>
</div>