<div id="pageheader" ng-cloak>
	<h4>User</h4>
</div>
<hr>
<form class="form-horizontal" ng-cloak>
	<button ng-click="createOrEditUser();" type="button"
		class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
		User
	</button>
	<button type="button" class="btn btn-default btn-sm">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		Delete All
	</button>
	<br /> <br />
	<div>
		<div style="height: 340px;">
			<table st-table="rowCollection" border="1" class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>Name</th>
						<th>Role</th>
						<th>Project</th>
						<th>Address</th>
						<th>City</th>
						<th>State</th>
						<th>Country</th>
						<th>Is Active</th>
						<!-- <th style="width:5%;"></th> -->
						<th style="width: 5%;"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<p ng-show="!userList.length"
							style="color: red; margin-left: 10px;">No Records found.</p>
					</tr>
					<tr ng-repeat="user in userList" ng-click="createOrEditUser(user);">
						<td>{{user.firstName}} {{user.middleName}} {{user.lastName}}</td>
						<td>{{user.role}}</td>
						<td>{{user.project}}</td>
						<td>{{user.address1}}</td>
						<td>{{user.city}}</td>
						<td>{{user.state}}</td>
						<td>{{user.country}}</td>
						<td>{{user.active}}</td>
						<td><a href="#" style="display: none"
							ng-click="deleteUser(user);" showonhoverparent> <span
								class="glyphicon glyphicon-trash"></span>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div class=" text-center" style="height: 50px;">
			<pagination ng-model="currentPage" class="pull-center"
				total-items="totalUsersList.length" num-pages="noOfPages"
				max-size="maxSize" boundary-links="true"
				items-per-page="itemsPerPage"> </pagination>
		</div>
	</div>

</form>

