<div class="pageHeader">
	<p>User</p>
</div>

<form class="form-horizontal" style="margin-top:15px;">
	<button ng-click="createOrEditUser();" type="button"
		class="formButtons">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
		User
	</button>
	<button type="button" class="formButtons">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		Delete All
	</button>
	<br /> <br />
	<div>
		<div style="height: 340px;">
			<table st-table="rowCollection" class="table table-bordered table-hover table-condensed">
				<tbody>
					<tr class="thStyle">
						<td>Name</td>
						<td>Role</td>
						<td>Project</td>
						<td>Address</td>
						<td>City</td>
						<td>State</td>
						<td>Country</td>
						<td>Is Active</td>
						<th style="width: 5%;">Action</th>
					</tr>
					<tr>
						<p ng-show="!userList.length"
							style="color: red; margin-left: 10px;">No Records found.</p>
					</tr>
					<tr ng-repeat="user in userList" ng-click="createOrEditUser(user);" >
						<td>{{user.firstName}} {{user.middleName}} {{user.lastName}}</td>
						<td>{{user.role}}</td>
						<td>{{user.project}}</td>
						<td>{{user.address1}}</td>
						<td>{{user.city}}</td>
						<td>{{user.state}}</td>
						<td>{{user.country}}</td>
						<td>{{user.active}}</td>
						<td><a href="#" style="display: none"
							ng-click="deleteUser(user);" showonhoverparent> <span
								class="glyphicon glyphicon-trash"></span>
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div class=" text-center" style="height: 50px;">
			<pagination ng-model="currentPage" class="pull-center"
				total-items="totalUsersList.length" num-pages="noOfPages"
				max-size="maxSize" boundary-links="true"
				items-per-page="itemsPerPage"> </pagination>
		</div>
	</div>

</form>

